---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
import { getCollection } from 'astro:content';
import { BlogPosts } from '@/components/sections/blog-posts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<DefaultLayout title={SITE_TITLE} description={SITE_DESCRIPTION} >
	<div class="py-14 md:py-20 lg:py-24">
		<BlogPosts posts={posts} withBorders={false} client:only='react' />
	</div>
</DefaultLayout>

