---
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import Testimonials from '@/components/sections/testimonials.astro';
import Partners from '@/components/sections/partners';
import { Metrics } from '@/components/sections/metrics';
import AboutHero from '@/components/sections/about-hero';
import Values from '@/components/sections/values';
import Team from '@/components/sections/team';
---

<DefaultLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <AboutHero />
  <Metrics />
  <Partners />
  <div class="py-14 md:py-20 lg:py-24">
    <Values />
  </div>
  <div class="py-14 md:py-20 lg:py-24">
    <Team />
  </div>
  <div class="py-14 md:py-20 lg:py-24">
    <Testimonials withBorders={false} />
  </div>
</DefaultLayout>